<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Assets/css/global.css">
  <link rel="stylesheet" href="/Assets/css/views/form.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="register">
    <div class="form_content">
      <div class="logoNavbar">
        <img src="/Assets/img/logo512.png" class="logo">
        <h1 class="textLogo">React Form Php</h1>
      </div>
      <form action="/user/login" method="POST" class="form">
        <div class="input_content">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="input_content">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <button type="submit" name="btn_login" class="btn_register">Login</button>
      </form>
    </div>
  </div>
</body>

</html>