<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'layout/indexHead.html' %}
</head>

<body>
  <div class="register">
    <div class="form_content">
      <div class="logoNavbar">
        <img src="/Assets/img/logo512.png" class="logo">
        <h1 class="textLogo">React Form Php</h1>
      </div>
      <form action="/user/register" method="POST" class="form" enctype="multipart/form-data">
        <div class="input_content">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="input_content">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name">
        </div>
        <div class="input_content">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="input_content">
          <label for="file" class="sendFile">Send Image</label>
          <input type="file" id="file" accept="image/png, image/jpeg, image/jpg" capture="true">
          <span id="archiveName"></span>
        </div>
        <button type="submit" name="btn_register" class="btn_register">Create Account</button>
      </form>
    </div>
  </div>
  {% include 'layout/scripts.html' %}
</body>

</html>