.navbar {
  background: rgb(41,41,41);
  color: #e9e9e9;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 8vh;
}

.logo {
  height:100%;
  width: 50px;
}

.logoNavbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 10px;
}

.logoImgTitle {
  display: flex;
  align-items: center;
}

.textLogo {
  font-family: "Quicksand", sans-serif;
  color: white;
}


.account {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
}

.account a {
  text-decoration: none;
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  transition: all ease 200ms;
}

.account .btn-log {
  font-size: 13px;
}
.account .btn-log:hover {   
  color: #4696ff;
}

.account .btn-log i {
  font-size: 14px;
}

.account .btn-reg {
  font-size: 14px;
  border: 2px solid rgb(0, 110, 255);
  padding: 6px 15px;
  border-radius: 3px;
}

.account .btn-reg:hover {
  background:rgb(0, 110, 255);
}

.account .btn-reg i {
  font-size: 20px;
}

.account a:hover {
  
}

.account a i {
  font-size: 20px;
}

/*
List link
*/

.listLink {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  height:100%;
  position: relative;
}

.listLink li {
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
  transition: all ease 200ms;
}

.listLink li:hover a {
  color: rgb(255, 255, 255);
}

.listLink li::before {
  content: '';

  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);

  z-index: -1;

  background: #007bff;
  width: 100%;
  height: 100%;

  opacity: 0;

  transition: all ease 400ms;
}

.listLink li:hover::before {
  opacity: 1;
}

.listLink li a {
  text-decoration: none;
  color: rgb(146, 146, 146);
  transition: all ease 200ms;
  font-size: 14px;
  display: flex;
  align-items:center;
  font-family: "Quicksand", sans-serif;
  gap: 5px;
  height: 100%;
  padding: 0 10px;
}

.listLink i {
  font-size: 20px;
}
/* User */

.user_dropdown {
  height: 100%;
  display: flex;
  text-decoration: none;
  color: white;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.user {
  height: 100%;
  margin-right: 40px;
  position: relative;
}

.user .profile_user {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.user .profile_user img {
  height:100%;
  object-fit: cover;
}

.options_user {
  position: absolute;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: all ease 200ms;
  width: auto;
  top: 80%;
  background: rgb(50,50,50);
  right: 0;
}

.options_user .top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #484848;
  padding: 10px 35px;

  z-index: 1;
}

.top::before {
  content: '';

  position: absolute;

  top: 0;
  right: 18px;

  transform: translateY(-100%);

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(77, 77, 77);

  z-index: -1;
}
.options_user .top h1 {
  font-size: 30px;
  color: #e1e1e1;
  white-space: nowrap;
}
.options_user .top span {
  font-size: 12px;
  color: #a7a7a7;
}

.user_dropdown ~ .options_user.show {
  opacity: 1;
  pointer-events: auto;
  top: 100%;
}

.options_user ul {
  list-style: none;
  width: 100%;
}

.options_user ul li {
  width: 100%;
  position: relative;
}

.options_user ul li::before, .options_user ul li.active::before {
  content: '';

  position: absolute;

  top: 0;
  right: 0;

  background: rgb(119, 0, 255);

  width:3px;
  height: 100%;

  pointer-events: none;

  transition: all ease 200ms;

  opacity: 0;

}

.options_user ul li.active::before {
  background: rgb(0, 89, 255);
  opacity: 1;
}

.options_user ul li:hover::before {
  opacity: 1;
}

.options_user ul li a {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e1e1e1;
}

.options_user ul li a i {
  font-size: 22px;
  padding-left: 10px;
  color: #e1e1e1;
}

.options_user ul li a:hover {
  background: rgb(58,58,58);
}

.group_options_user {
  border-top: 2px solid #484848;
  padding: 5px 0 0 0;
}