main {
  margin-left: 60px;
  color: #e1e1e1;
  position: relative;
  z-index: 1;
}

.option_note {
  float: right;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.option_note .btn_note {
  padding: 8px 20px;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background: none;
  border: 2px solid #3b7fff;
  color: #3b7fff;
  transition: all ease 200ms;
  display: flex;
  gap: 5px;
}

.option_note .btn_note i {
  font-size: 20px;
}

.option_note .btn_note:hover {
  background: #3b7fff;
  color: #e1e1e1;
}

.posts {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  margin-top: 50px;
}

.cardPost {
  width: 350px;
  height: 200px;
  background: rgba(255, 255, 255, 0.082);
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 5px;
  margin: 0 auto;
}

.cardPost .title {
  font-size: 20px;
}

.cardPost .content {
  font-size: 14px;
}

.info_note {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}