<section class="initial_section">
  <div class="go-back">
    <button class="btn-wrapper-back"><i class='bx bx-chevron-left'></i></button>
    <button class="btn-wrapper-go"><i class='bx bx-chevron-right'></i></button>
  </div>
  <div class="initial_apresentation">
    <div class="container_titles">
      <h1 class="title_initial"><i class='bx bxs-rocket'></i>Network Note</h1>
      <h2 class="text_apresentation">Aplicação feita em php com o intuito de diversificar o conhecimento e
        consolidar,<br>
        criando aplicações iguais com
        tecnologias diferentes.</h2>
    </div>
    <button class="btn_initial">Start Now</button>
  </div>
  <div class="initial_apresentation">
    <div class="container_titles">
      <h1 class="title_initial">Frameworks</h1>
      <h2 class="text_apresentation">Dentre os frameworks e bibliotecas utilizadas nessa aplicação, estão: Twig e
        CoffeeCode<br>Desenvolvida com PHP e JavaScript</h2>
    </div>
    <button class="btn_initial">Start Now</button>
  </div>
</section>