<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="Assets/css/global.css">
  <link rel="stylesheet" href="Assets/css//index.css">
  <link rel="stylesheet" href="Assets/css/views/sidebar.css">
  <title>{{title}}</title>
</head>

<body>
  <nav class="navbar">
    <div class="logoNavbar">
      <a href="" class="menu"><i class='bx bx-menu'></i></a>
      <div class="logoImgTitle">
        <img src="Assets/img/logo512.png" class="logo">
        <h1 class="textLogo">React</h1>
      </div>
    </div>
    <ul class="listLink">
      <li>
        <a href=""><i class='bx bxs-home'></i>Home</a>
      </li>
    </ul>
    <div class="account">
      <a href="/login"><i class='bx bx-log-in'></i>Login</a>
      <a href="/register"><i class='bx bxs-user-plus'></i>Register</a>
    </div>
  </nav>
  <aside class="sidebar">
    <div class="profile">
      <div class="profile_img">
        <img src="Assets/img/perfil.jpg">
      </div>
      <h3>{{user['email']}}</h3>
    </div>
    <div class="items">
      <div class="item">
        <a href="" class="link"><i class='bx bxs-dashboard'></i><span>Dashboard</span></a>
      </div>
      <div class="item">
        <a href="" class="link"><i class='bx bxs-cog'></i><span>Settings</span></a>
      </div>
      <div class="item">
        <a href="" class="link"><i class='bx bxs-category-alt'></i><span>Category</span></a>
      </div>
      <div class="item">
        <a href="" class="link"><i class='bx bxs-dashboard'></i><span>Items</span></a>
      </div>
    </div>
  </aside>
  <script src="Assets/js/routes/home/sidebar.js"></script>
</body>

</html>